.container {
    padding-right: 10vw;
    padding-left: 10vw;
    color: #000000;
    background-color: #f6f8fa;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header .title {
    font-weight: bold;
    font-size: 30px;
}

.status {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: #28a845;
    color: white;
}

.status .left {
    padding-left: 2vh;
    font-weight: bold;
}

.status .right {
    padding-right: 2vh;
}

.metrics {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    border: 0.5px solid #676769;
    border-radius: 5px;
}

.metrics .metric {
    text-align: center;
    padding: 2vh;
}

.metrics .metric .value {
    line-height: 1;
    font-size: 60px;
}

.metrics .metric .type {
    padding-top: 20px;
}

.integrations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-top: 5vh;
}

.integrations .application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    line-height: 5vh;
    border: 0.5px solid #676769;
    border-radius: 5px;
}

.integrations .application .name {
    width: 100%;
    padding-left: 10px;
    font-weight: bold;
}

.integrations .application .app-status {
    width: 15vh;
    text-align: center;
    background-color: #28a845;
    color: white;
}

.upcoming {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 5vh;
    border: 0.5px solid #676769;
    border-radius: 5px;
}

.upcoming .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1eaaf0;
    height: 5vh;
    line-height: 5vh;
    color: white;
}

.upcoming .event-name {
    width: 100%;
    padding-left: 10px;
}

.upcoming .event-type {
    width: 30vh;
    text-align: center;
}

.upcoming .event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.upcoming .event-details .details {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.upcoming .event-details .details .detail-name {
    width: 20vh;
    text-align: left;
    padding-left: 10px;
}

.upcoming .event-details .details .detail-value {
    width: 100%;
    padding-right: 10px;
}

.footer {
    height: 5vh;
    margin-top: 5vh;
}
